<div class="row">
    <div class="col-12">

        <!-- Node di Condivisione -->
        <section>
            <header class="major">
                <h2>Note di Condivisione</h2>
            </header>
            <div class="row">

                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2019.jpg" class="image featured"><img src="img/locandine/ndc2019.jpg" alt="NdC 2019"></a>
                        <header>
                            <h3>NdC 2019</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2018.jpg" class="image featured"><img src="img/locandine/ndc2018.jpg" alt="NdC 2018"></a>
                        <header>
                            <h3>NdC 2018</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2017.jpg" class="image featured"><img src="img/locandine/ndc2017.jpg" alt="NdC 2017"></a>
                        <header>
                            <h3>NdC 2017</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2016.jpg" class="image featured"><img src="img/locandine/ndc2016.jpg" alt="NdC 2016"></a>
                        <header>
                            <h3>NdC 2016</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2014.jpg" class="image featured"><img src="img/locandine/ndc2014.jpg" alt="NdC 2014"></a>
                        <header>
                            <h3>NdC 2014</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2013.jpg" class="image featured"><img src="img/locandine/ndc2013.jpg" alt="NdC 2013"></a>
                        <header>
                            <h3>NdC 2013</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2012.jpg" class="image featured"><img src="img/locandine/ndc2012.jpg" alt="NdC 2012"></a>
                        <header>
                            <h3>NdC 2012</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2011.jpg" class="image featured"><img src="img/locandine/ndc2011.jpg" alt="NdC 2011"></a>
                        <header>
                            <h3>NdC 2011</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2010.jpg" class="image featured"><img src="img/locandine/ndc2010.jpg" alt="NdC 2010"></a>
                        <header>
                            <h3>NdC 2010</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2009.jpg" class="image featured"><img src="img/locandine/ndc2009.jpg" alt="NdC 2009"></a>
                        <header>
                            <h3>NdC 2009</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2008.jpg" class="image featured"><img src="img/locandine/ndc2008.jpg" alt="NdC 2008"></a>
                        <header>
                            <h3>NdC 2008</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2007.jpg" class="image featured"><img src="img/locandine/ndc2007.jpg" alt="NdC 2007"></a>
                        <header>
                            <h3>NdC 2007</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2006.jpg" class="image featured"><img src="img/locandine/ndc2006.jpg" alt="NdC 2006"></a>
                        <header>
                            <h3>NdC 2006</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2005.jpg" class="image featured"><img src="img/locandine/ndc2005.jpg" alt="NdC 2005"></a>
                        <header>
                            <h3>NdC 2005</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2004.jpg" class="image featured"><img src="img/locandine/ndc2004.jpg" alt="NdC 2004"></a>
                        <header>
                            <h3>NdC 2004</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2003.jpg" class="image featured"><img src="img/locandine/ndc2003.jpg" alt="NdC 2003"></a>
                        <header>
                            <h3>NdC 2003</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2002.jpg" class="image featured"><img src="img/locandine/ndc2002.jpg" alt="NdC 2002"></a>
                        <header>
                            <h3>NdC 2002</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2001.jpg" class="image featured"><img src="img/locandine/ndc2001.jpg" alt="NdC 2001"></a>
                        <header>
                            <h3>NdC 2001</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc2000.jpg" class="image featured"><img src="img/locandine/ndc2000.jpg" alt="NdC 2000"></a>
                        <header>
                            <h3>NdC 2000</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/ndc1997.jpg" class="image featured"><img src="img/locandine/ndc1997.jpg" alt="NdC 1997"></a>
                        <header>
                            <h3>NdC 1997</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                
            </div>
        </section>

        <!-- Altri eventi -->
        <section>
            <header class="major">
                <h2>Altri eventi</h2>
            </header>
            <div class="row">
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2019umbre_de_muri.jpg" class="image featured"><img src="img/locandine/2019umbre_de_muri.jpg" alt="Umbre De Muri 2019"></a>
                        <header>
                            <h3>Umbre De Muri 2019</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2018domoEmigrantes.jpg" class="image featured"><img src="img/locandine/2018domoEmigrantes.jpg" alt="Domo Emigrantes 2018"></a>
                        <header>
                            <h3>Domo Emigrantes 2018</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2018bressanelli.jpg" class="image featured"><img src="img/locandine/2018bressanelli.jpg" alt="Gio Bressanelli 2018"></a>
                        <header>
                            <h3>Gio Bressanelli 2018</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2017shiver.jpg" class="image featured"><img src="img/locandine/2017shiver.jpg" alt="Shiver 2017"></a>
                        <header>
                            <h3>Shiver 2017</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2016dvds_anteprima.jpg" class="image featured"><img src="img/locandine/2016dvds_anteprima.jpg" alt="Davide Van De Sfroos 2016"></a>
                        <header>
                            <h3>Davide Van De Sfroos 2016</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2013senfai_night.jpg" class="image featured"><img src="img/locandine/2013senfai_night.jpg" alt="Senfai Night 2013"></a>
                        <header>
                            <h3>Senfai Night 2013</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2012DaniloSacco.jpg" class="image featured"><img src="img/locandine/2012DaniloSacco.jpg" alt="Danilo Sacco 2012"></a>
                        <header>
                            <h3>Danilo Sacco 2012</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2011comici.jpg" class="image featured"><img src="img/locandine/2011comici.jpg" alt="Comici Per Condivisione 2012"></a>
                        <header>
                            <h3>Comici Per Condivisione 2012</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2011spettacolo_bambini.jpg" class="image featured"><img src="img/locandine/2011spettacolo_bambini.jpg" alt="Speccatolo Per Baimbini 2011"></a>
                        <header>
                            <h3>Speccatolo Per Baimbini 2011</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2010comici.jpg" class="image featured"><img src="img/locandine/2010comici.jpg" alt="Comici Per Condivisione 2010"></a>
                        <header>
                            <h3>Comici Per Condivisione 2010</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2009dvds.jpg" class="image featured"><img src="img/locandine/2009dvds.jpg" alt="Davide Van De Sfroos 2009"></a>
                        <header>
                            <h3>Davide Van De Sfroos 2009</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2007discoteca_bambini.jpg" class="image featured"><img src="img/locandine/2007discoteca_bambini.jpg" alt="Discoteca Per Bambini 2007"></a>
                        <header>
                            <h3>Discoteca Per Bambini 2007</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2006euphonia_anteprima.jpg" class="image featured"><img src="img/locandine/2006euphonia_anteprima.jpg" alt="Euphonia 2006"></a>
                        <header>
                            <h3>Euphonia 2006</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2005partita_condivisione.jpg" class="image featured"><img src="img/locandine/2005partita_condivisione.jpg" alt="Partita Per La Condivisione 2005"></a>
                        <header>
                            <h3>Partita Per La Condivisione 2005</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2005colorado_anteprima.jpg" class="image featured"><img src="img/locandine/2005colorado_anteprima.jpg" alt="Colorado Cafè Live 2005"></a>
                        <header>
                            <h3>Colorado Cafè Live 2005</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                        <a href="img/locandine/2004comici_anteprima.jpg" class="image featured"><img src="img/locandine/2004comici_anteprima.jpg" alt="Comici Per Condivisione 2004"></a>
                        <header>
                            <h3>Comici Per Condivisione 2004</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section class="box">
                            <a href="img/locandine/2004caparezza_anteprima.jpg" class="image featured"><img src="img/locandine/2004caparezza_anteprima.jpg" alt="Caparezza 2004"></a>
                        <header>
                            <h3>Caparezza 2004</h3>
                        </header>
                        <p></p>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>