<div class="row">
    <!-- Adozioni -->
    <div class="col-12">
        <header class="major">
            <h2>Adozioni</h2>
        </header>
    </div>
    <section class="col-12 body-font">
        <div class="container px-5 py-8">
            <div class="flex flex-wrap w-full mx-auto -m-4">
                <div class="w-full p-4 mx-auto mb-2 lg:w-1/2 lg:mb-0">
                        <div class="w-full h-full text-center">
                            <a href="adozioni.html#agata-smeralda">
                                <img alt="testimonial" class="inline-block object-cover object-center w-full border-2 h-52" 
                                    src="img/adozioni/agata_smeralda.jpg">
                            </a>
                            <p class="w-10 h-1 mx-auto mt-2 mb-2 rounded bg-green-haze-700"></p>
                            <a href="adozioni.html#agata-smeralda">
                                <h2 class="text-base font-medium tracking-wider text-thunder-900 title-font">Agata Smeralda</h2>
                            </a>
                        </div>
                </div>
                <div class="w-full p-4 mx-auto mb-2 lg:w-1/2 lg:mb-0">
                    <div class="w-full h-full text-center">
                        <a href="adozioni.html#mehala">
                            <img alt="testimonial" class="inline-block object-cover object-center w-full border-2 h-52" 
                                src="img/adozioni/mehala.png">
                        </a>
                        <p class="w-10 h-1 mx-auto mt-2 mb-2 rounded bg-green-haze-700"></p>
                        <a href="adozioni.html#mehala">
                            <h2 class="text-base font-medium tracking-wider text-thunder-900 title-font">Mehala</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>