<div class="row">
    <section class="text-gray-600 body-font">
        <div class="container flex flex-col items-center px-5 py-24 mx-auto md:flex-row">
          <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
            <img class="object-cover object-center mx-auto rounded" alt="Note di Condivisione" src="img/logos/nds_logo.png">
          </div>
          <div class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
            <h1 class="mb-4 text-3xl font-medium title-font sm:text-4xl">Note di
              <br class="hidden lg:inline-block">Condivisione
            </h1>
            <p class="mb-8 leading-relaxed">Note di condivisione è una manifestazione musicale benefica a sostegno di progetti di sviluppo in Brasile e in Kenya</p>
            <div class="flex justify-center">
              <a href="note-di-condivisione.html" class="button">Visita</a>
            </div>
          </div>
        </div>
      </section>
</div>