<section class="mt-32 text-gray-600 bg-supernova-500 body-font">  
  <div class="container flex flex-col items-center px-5 py-24 mx-auto md:flex-row">
      <div class="flex flex-col w-full pr-0 mb-6 text-center md:pr-10 md:mb-0 md:w-auto md:text-left">
        <h2 class="mb-1 text-base font-medium tracking-widest text-congress-blue-800 title-font">Vuoi aiutarci?</h2>
        <h1 class="text-2xl font-medium text-gray-900 md:text-3xl title-font">Sostienici donando il 5x1000</h1>
      </div>
      <div class="flex items-center flex-shrink-0 mx-auto space-x-4 md:px-24 md:ml-auto md:mr-0">
        <a href="donazioni.html" class="button alt">Scopri come fare</a>
      </div>
    </div>
</section>