<section id="intro" class="container">
    <div class="row">
        <div class="col-4 col-12-medium">
            <section class="first">
                <img src="img/Kenya.png" class="icon alt featured" style="object-fit : cover;"/>
                <header>
                    <h2>Kenya</h2>
                </header>
                <p>1 progetto sostenuto dal 2003</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="middle">
                <img src="img/Brasile.png" class="icon featured" style="object-fit : cover;"/>
                <header>
                    <h2>Brasile</h2>
                </header>
                <p>5 progetti sostenuti dal 2003</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="last">
                <img src="img/Italia.png" class="icon alt2 featured" style="object-fit : cover;"/>
                <header>
                    <h2>Italia</h2>
                </header>
                <p>6 progetti sostenuti dal 2004</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="progetti.html" class="button large">I nostri progetti</a></li>
            <!-- <li><a href="#" class="button alt large">Scopri di più</a></li> -->
        </ul>
    </footer>
</section>  