<section id="footer">
    <div class="container">
        <div class="row">

            <div class="col-8 col-12-medium">
                <section>
                    <header>
                        <h2>News</h2>
                    </header>
                    <ul class="dates">
                        <li>
                            <span class="date">03/22<strong>26</strong></span>
                            <h3><a href="https://www.sololo.eu/2022/03/26/marsabit-11-bambini-morti-di-fame-marsabit-11-children-died-of-hunger/" target="_blank">
                                Marsabit: 11 bambini morti di FAME !
                            </a></h3>
                            <p>...</p>
                        </li>
                        <li>
                            <span class="date">03/22<strong>22</strong></span>
                            <h3><a href="https://www.sololo.eu/2022/03/22/vediamo-il-tempo-scorrere-veloce-con-una-lagrimuccia-nostalgica-sul-viso/" target="_blank">
                                Vediamo il tempo scorrere veloce... con una lagrimuccia nostalgica sul nostro viso...
                            </a></h3>
                            <p>...</p>
                        </li>
                        <li>
                            <span class="date">07/21<strong>01</strong></span>
                            <h3><a href="https://www.ilfattoquotidiano.it/in-edicola/articoli/2021/06/21/brasile-non-solo-virus-la-nuova-piaga-e-lesercito-di-ragazzi-senza-un-futuro/" target="_blank">
                                Brasile, non solo virus
                            </a></h3>
                            <p>...</p>
                        </li>
                        <li>
                            <span class="date">06/22<strong>18</strong></span>
                            <h3><a href="https://www.sololo.eu/2021/06/14/stiamo-ricevendo-i-vostri-primi-sostegni-da-destinare-agli-anziani-grazie/" target="_blank">
                                Stiamo ricevendo i vostri primi sostegni da destinare agli anziani. GRAZIE!
                            </a></h3>
                            <p>...</p>
                        </li>
                    </ul>
                </section>
            </div>

            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h2>Su di noi</h2>
                    </header>
                    <div class="w-full h-full p-2 mb-4 bg-white"> 
                        <a href="index.html"><img class="h-40 mx-auto" src="img/logos/logo.jpg" alt="" /></a>
                    </div>
                    <p>
                        "A força da partilha" (La forza della condivisione) è un'Associazione, nata ufficialmente nel 2003, 
                        ma già operante dal 1997 e diventata Onlus nel 2005, di ispirazione cristiana, 
                        apolitica e senza fini di lucro, anche indiretto, che persegue esclusivamente finalità di solidarietà sociale. 
                        Ora è una Organizzazione di Volontariato (OdV) a norma della recente riforma del Terzo Settore.
                    </p>
                    <footer>
                        <ul class="actions">
                            <li><a href="cinquexmille.html" class="button alt">Sostienici</a></li>
                        </ul>
                    </footer>
                </section>
            </div>

            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h2>Contenuti</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="statuto.html">Statuto</a></li>
                        <li><a href="chi-siamo.html#adesione">Moduli di adesione</a></li>
                        <li><a href="locandine.html">Note di Condivisione - Locandine</a></li>
                    </ul>
                </section>
            </div>
            
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h2>Privacy</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Impostazioni Cookie</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h2>Contatti</h2>
                    </header>
                    <ul class="social">
                        <li><a class="icon brands fa-facebook-f" href="https://facebook.it/laforzadellacondivisione" target="_blank"><span class="label">Facebook</span></a></li>
                        <!-- <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                        <li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
                        <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li> -->
                    </ul>
                    <ul class="contact">
                        <li>
                            <h3>Sede</h3>
                            <p>
                                Via G. Galilei, 32<br/>
                                23900 Lecco
                            </p>
                        </li>
                        <li>
                            <h3>Mail</h3>
                            <p><a href="mailto:info@laforzadellacondivisione.it">info@laforzadellacondivisione.it</a></p>
                        </li>
                        <li>
                            <h3>Telefono</h3>
                            <p>338 6579230</p>
                        </li>
                    </ul>
                </section>
            </div>
            
            <div class="col-12">

                <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; A força da partilha. Tutti i diritti riservati.</li>
                            <li>Sviluppo: <a href="https://talale.it" target="_blank">Alessandro Talamona</a></li>
                        </ul>
                    </div>

            </div>
            
        </div>
    </div>
</section>