<!-- Logo -->
<h1><a href="index.html">A força da partilha</a></h1>

<!-- Nav -->
<nav id="nav"
    x-data="{
        page : null,
    }"
    x-init="
        pathElements = (window.location.pathname).split('/');
        page = (pathElements[pathElements.length - 1]).split('.')[0];
    "   
>
    <ul>
        <li :class="{ 'current' : page=='' || page=='index' || page=='cinquexmille' }"><a href="index.html">Home</a></li>
        <li :class="{ 'current' : page=='chi-siamo'|| page=='progetti' || page=='adozioni' || page=='donazioni' }">
            <a href="chi-siamo.html">Chi Siamo</a>
            <ul>
                <li>
                    <a href="progetti.html">Progetti</a>
                    <ul>
                        <li><a href="progetti.html#brasile">Brasile</a></li>
                        <li><a href="progetti.html#italia">Italia</a></li>
                        <li><a href="progetti.html#kenya">Kenya</a></li>
                    </ul>
                </li>
                <li>
                    <a href="adozioni.html">Adozioni</a>
                    <ul>
                        <li><a href="adozioni.html#agata-smeralda">Agata Smeralda</a></li>
                        <li><a href="adozioni.html#mehala">Mehala</a></li>
                    </ul>
                </li>
                <li><a href="donazioni.html">Donazioni</a></li>
            </ul>
        </li>
        <li :class="{ 'current' : page=='note-di-condivisione' }"><a href="note-di-condivisione.html">Note di Condivisione</a></li>
    </ul>
</nav>
