<article class="box post">
    <div class="w-full bg-center bg-no-repeat bg-contain h-80 image featured" 
        style="background-image: url('img/logos/nds_striscione.jpg');">
    </div>
    <header>
        <h2>Note di Condivisione</h2>
    </header>
    <p>
        Note di condivisione è una manifestazione musicale benefica a sostegno di progetti di sviluppo in Brasile e in Kenya.
    </p>
    <p>
        E' organizzata dalla Organizzazione di Volontariato "A força da partilha", associazione operante dal 1997, di ispirazione cristiana, apolitica e senza fini di lucro, anche indiretto, che persegue unicamente finalità di solidarietà sociale.
    </p>
    <p>
        Sono "le note (parole e musica) di condivisione" con cui l' Associazione "A força da partilha" (La forza della condivisione) OdV, insieme con tanti amici, vuole continuare a sostenere alcune realtà del Brasile e del Kenya alle quali è fortemente e concretamente legata.
    </p>
    <p>
        Non solo concerti, ma una preziosa occasione di aggregazione sul territorio, allo scopo di sensibilizzarci su una realtà di povertà che anche noi occidentali contribuiamo a creare e a mantenere, per farla diventare una reale proposta di condivisione, giocata sulla concretezza delle scelte e dello stile di vita.
    </p>
    
    <section>
        <header>
            <h3>Alcuni degli artisti che hanno partecipato</h3>
        </header>
        <p
            x-data
            x-init="
            "
        >
        </p>
    </section>
</article>