<article class="box post">
    <div class="w-full bg-center bg-no-repeat bg-contain h-80 image featured" 
        style="background-image: url('img/logos/nds_striscione.jpg');">
    </div>
    <header>
        <h2>Note di Condivisione</h2>
    </header>
    <p>
        Note di condivisione è una manifestazione musicale benefica a sostegno di progetti di sviluppo in Brasile e in Kenya.
    </p>
    <p>
        E' organizzata dalla Organizzazione di Volontariato "A força da partilha", associazione operante dal 1997, di ispirazione cristiana, apolitica e senza fini di lucro, anche indiretto, che persegue unicamente finalità di solidarietà sociale.
    </p>
    <p>
        Sono "le note (parole e musica) di condivisione" con cui l' Associazione "A força da partilha" (La forza della condivisione) OdV, insieme con tanti amici, vuole continuare a sostenere alcune realtà del Brasile e del Kenya alle quali è fortemente e concretamente legata.
    </p>
    <p>
        Non solo concerti, ma una preziosa occasione di aggregazione sul territorio, allo scopo di sensibilizzarci su una realtà di povertà che anche noi occidentali contribuiamo a creare e a mantenere, per farla diventare una reale proposta di condivisione, giocata sulla concretezza delle scelte e dello stile di vita.
    </p>
    
    <section
        x-data
        x-init="
            jQuery(document).ready(function($) {
                $('.loop').owlCarousel({
                    center: true,
                    items: 2,
                    loop: true,
                    autoplay:true,
                    autoplaySpeed : 3000,
                    autoplayTimeout:3000,
                    margin: 0,
                    responsive: {
                        737: {
                        items: 4
                        }
                    },
                    touchDrag : true,
                    pullDrag : true,
                    rewind : true,
                    dots : false,
                    autoplayHoverPause : true,
                    slideTransition : 'linear',
                });
            });
        "
    >
        <header>
            <h3>Alcuni degli artisti che hanno partecipato</h3>
        </header>
        <div class="loop owl-carousel owl-theme">
            <a href="http://www.nomadi.it/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/Nomadi.jpg" alt="Nomadi">
            </a>
            <a href="https://www.caparezza.com/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/Caparezza.jpg" alt="Caparezza">
            </a>
            <a  href="http://www.pfmworld.com/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/PFM.jpg" alt="PFM">
            </a>
            <a href="http://www.iluf.net/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/ILuf.jpg" alt="I Luf">
            </a>
            <a href="https://elioelestorietese.it/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/EELST.jpg" alt="EELST">
            </a>
            <a href="https://www.negramaro.com/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/Negramaro.jpg" alt="Negramaro">
            </a>
            <a href="http://www.ramblers.it/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/ModenaCityRamblers.jpg" alt="Modena City Ramblers">
            </a>
            <a href="http://www.davidevandesfroos.it/" target="_blank" style="text-decoration:none">
                <img class="item" style="width:100%; height:auto;" src = "img/artists/VanDeSfroos.jpg" alt="Davide Van De Sfroos">
            </a>
        </div>
        
    </section>
</article>