<header class="major" id="agata-smeralda">
    <h2>Agata Smeralda</h2>
</header>

<section >
    <div class="container flex flex-col px-5 py-12 mx-auto">
        <div class="mx-auto">
            
            <div class="overflow-hidden rounded-lg h-80">
                <img alt="content" class="object-cover object-top w-full h-full " src="img/bambini.jpg">
            </div>

            <div class="flex flex-col mt-10 sm:flex-row">

                <div class="pt-4 mt-4 text-center border-t border-green-haze-700 sm:w-2/3 sm:pl-8 sm:py-8 sm:border-r-2 sm:border-t-0 sm:mt-0 sm:text-left">
                    <p class="mb-2">
                        L’Associazione "A força da partilha" (La forza della condivisione) OdV, propone e sostiene il progetto di adozione a distanza 
                        <a href="https://www.agatasmeralda.org/" target="_blank">"Agata Smeralda"</a>.
                    </p>
                    <p class="mb-0">
                        Agata Smeralda è il nome della prima bambina accolta allo "Spedale degli Innocenti" di Firenze nel lontano 5 febbraio 1445. Agata Smeralda è oggi un Progetto che opera in nome della dignità della persona umana dal concepimento alla morte naturale.
                    </p>
                    <p class="mb-0">
                        Ormai da 17 anni è una presenza concreta nelle favelas brasiliane di Salvador Bahia, in mezzo ai più poveri tra i poveri: le bambine ed i bambini di strada.
                    </p>
                    <p class="mb-4">
                        Più di recente ha avviato progetti di solidarietà anche in Albania, Costa d’Avorio, India, Sri Lanka, Gerusalemme, Congo, Nigeria ed Ecuador.
                    </p>
                    <p class="mb-0">
                        La motivazione profonda della scelta di avviare un progetto di "adozione a distanza" sta nelle parole del "manifesto" del Progetto stesso: "... i bambini devono vivere e crescere liberi nella loro terra per essere domani i protagonisti della vita del loro paese".
                    </p>
                    <p class="mb-4">
                        In Brasile sono oltre 10.000 i bambini accolti dai missionari nei 160 Centri di accoglienza dislocati nella Bahia.
                    </p>
                </div>

                <div class="text-center sm:w-1/3 sm:pl-8 sm:py-8">
                    <div class="flex flex-col items-center justify-center text-center">
                        <h2 class="mt-4 text-lg font-medium text-gray-900 title-font">Come adottare un bambino a distanza</h2>
                        <div class="w-12 h-1 mt-2 mb-4 rounded bg-green-haze-700"></div>
                        <p class="mb-0 text-base">
                            <span>E' sufficiente versare la quota mensile di 31€ su:</span>
                            <ul class="mb-2 list-none">
                                <li>
                                    cc postale n. 502500
                                </li>
                                <li>
                                    oppure cc bancario IBAN <span class="inline-block">IT54 M03400 02999 000000001111</span>
                                    <br/>
                                    presso la Banca Toscana - Agenzia n. 19 <span class="inline-block">Via Cavour 82/a, Firenze</span>
                                </li>
                            </ul>
                            <p class="mb-2">
                                Entrambi intestati a:
                                <span class="block">PROGETTOAGATA SMERALDA</span>
                                <span class="block">Via Cavour 92, 50129 FIRENZE</span>
                            </p>
                            <span>Per informazioni:</span>
                            <ul class="list-none">
                                <li><a href="https://www.agatasmeralda.org/come-sostenerci" target="_blank">www.agatasmeralda.org</a></li>
                                <li><a href="mailto:info@agatasmeralda.org">info@agatasmeralda.org</a></li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>