<header class="major" id="mehala">
    <h2>Mehala</h2>
</header>

<section class="text-gray-600 body-font">
    <div class="container flex flex-col items-center px-5 pt-12 mx-auto md:flex-row">
        <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
            <img class="object-cover object-center w-full h-full rounded" alt="hero" src="img/mehala.jpg">
        </div>
        <div class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
            <p class="mb-2">
                Il sostegno a distanza è un modo diretto ed efficace di dare un aiuto concreto ad un bambino in stato di bisogno affinché conduca una vita piu' dignitosa rimanendo nel suo paese di origine.
            </p>
            <p class="mb-2">
                Con il sostegno a distanza si garantisce al bambino:
                <ul>
                    <li>
                        Un'educazione scolastica.
                    </li>
                    <li>
                        Un'alimentazione adeguata.
                    </li>
                    <li>
                        Accesso a cure sanitarie di base.
                    </li>
                    <li>
                        Supporto alla sua famiglia o all'istituto che lo ospita.
                    </li>
                </ul>
            </p>
            <p class="mb-2">
                Il sostegno a distanza permette ai bambini di avere un presente ed un futuro migliore sottraendosi alle conseguenze della poverta', dell’analfabetismo, del lavoro minorile e dello sfruttamento.
            </p>
            <p class="mb-8">
                Beneficiari dei nostri sostegni a distanza sono i bambini in eta' scolare e prescolare provenienti dalle famiglie piu' povere che non possono far fronte ai costi relativi alla loro istruzione, alimentazione e cura, oppure i bambini della medesima eta' che non hanno piu' una famiglia e sono ospitati in istituto.
            </p>
        </div>
    </div>

    <div>
        <div>
            <h2 class="mt-4 text-lg font-medium text-gray-900 title-font">Come offrire il tuo contributo</h2>
            <div class="w-12 h-1 mt-2 mb-4 rounded bg-green-haze-700"></div>
            <p class="mb-2">
                Telefona o invia un fax all’Associazione Mehala onlus da lunedi' al venerdi' dalle ore 9,00 alle ore 17,00 al numero 039510737, oppure invia una mail al seguente indirizzo: cooperazione@mehala.org
                
                Lascia i tuoi dati (nome, cognome, indirizzo, telefono, indirizzo di posta elettronica) con la richiesta di informazioni sul sostegno a distanza. Verrai ricontattato dal responsabile dell’Associazione Mehala onlus che ti fornira' tutte le notizie occorrenti per attivare il tuo aiuto. Inizialmente ti verra' inviata una copia della scheda del bambino con la sua foto, la sua storia, notizie sul contesto sociale in cui vive e sulla scuola frequentata e con il nome del nostro responsabile locale che si fa garante della gestione degli aiuti. In seguito, con il primo versamento, riceverai la scheda del bambino in originale.
                
                Periodicamente, di solito ogni 6-8 mesi, ti invieremo notizie del bambino e, in alcuni casi, un suo disegno (o uno scritto qualora sia gia' in grado di scrivere) o una sua foto. Chiunque puo' attivare un sostegno a distanza. Ti chiediamo soltanto di mantenere l’impegno per almeno 3 anni affinché il tuo aiuto possa dare continuita' all’istruzione ed alla cura del bambino. In caso d’interruzione è gradito un preavviso di almeno 2 mesi che ci consentira' di reperire un altro sostenitore.
            </p>
            <p class="mb-2">
                Con soli 69 centesimi di euro al giorno potrai cambiare il futuro di un bambino e della sua comunita'!
            </p>
            <p class="mb-2">
                Puoi scegliere di inviare il tuo aiuto mediante versamenti di:
                <ul>
                    <li>
                        21,00€ mensili (consigliato RID bancario).
                    </li>
                    <li>
                        126,00€ semestrali.
                    </li>
                    <li>
                        252,005 annuali.
                    </li>
                </ul>
            </p>
            <p class="mb-2">
                Il contributo puo' essere versato tramite:
                <ul>
                    <li>
                        Bonifico da accreditare su conto corrente bancario intestato ad "Associazione Mehala onlus", via Campi 64, Merate (Lc) presso Banca Prossima, utilizzando il codice IBAN <label class="inline-block">IT76 W033 5901 600 1000 0000 5717</label>.
                    </li>
                    <li>
                        Conto corrente postale n°61438560 intestato ad Associazione Mehala onlus, via Campi 64, Merate (Lc); specificando in entrambi i casi la causale del versamento (indicando il nome del bambino e la sua nazionalita').
                    </li>
                </ul> 
            </p>
            <p class="mb-2">
                L’Associazione Mehala onlus tratterrà 12,00€ annui per spese di spedizione e gestione della pratica. Il resto verra' inviato al responsabile locale che provvedera' alle spese per il materiale scolastico, gli alimenti e le cure del bambino.
            </p>
            <p class="mb-2">
                Ricordati di conservare la ricevuta del versamento.
            </p>
            <p class="mb-2">
                E' possibile dedurre dal proprio reddito le donazioni a favore delle O.n.l.u.s., per un importo non superiore al 10% del reddito complessivo dichiarato e comunque nella misura massima di 70.000,00€ annui (art.14 c. 1 D.L.35/05 convertito in legge n. 80 del 14/05/2005).
            </p>
        </div>
    </div>
</section>