<header class="major" id="brasile">
    <h2>Brasile</h2>
</header>

<section class="text-gray-600 body-font">
    <div class="container flex flex-wrap px-5 pb-12 mx-auto">

      <div class="w-full mb-10 overflow-hidden rounded-lg lg:w-1/2 lg:mb-0">
        <img alt="feature" class="object-cover object-center w-full h-full" src="img/brasile_boys.jpg">
      </div>

      <div class="flex flex-col flex-wrap -mb-10 text-center lg:py-6 lg:w-1/2 lg:pl-12 lg:text-left">

        <div class="flex flex-col items-center mb-10 lg:items-start">
          <div class="flex-grow">
            <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">Comunità di Mata Escura e Calabetão (Salvador de Bahia)</h2>
            <p class="mb-0 text-base leading-relaxed">
                Dove operano tre Suore Missionarie di Gesù Redentore (suor Claudia Strada, suor Raffaella Corvino e suor Adele Pezone), soprattutto nell'impegno di accoglienza e di recupero dei "meninos de rua" (i bambini e i ragazzi di strada abbandonati), attraverso il "Centro do menor João Paulo II - Artesão da paz", gli asili e le scuole (realtà raccolte nell'associazione ACOPAMEC) nelle varie 'favelas' e la pastorale carceraria.
            </p>
            <a href="https://www.acopamec.org.br" target="_blank" class="inline-flex items-center mt-3">ACOPAMEC
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10 lg:items-start">
          <div class="flex-grow">
            <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">"Comunità Emmaus" di Recife (Pernambuco)</h2>
            <p class="mb-0 text-base leading-relaxed">
                Fondata nell'agosto '96 dall'Abbè Pierre e dal 'vescovo dei poveri', dom Hélder Câmara, allo scopo di 'servire per primo il più sofferente'  è affidata alla responsabilità di Luis Tenderini, che da una speranza di vita e di lavoro ad una trentina di "trapeiros" (cenciaioli) attraverso la raccolta e il riciclaggio di materiale usato.
            </p>
            <a href="https://www.emmaus-international.org/en/who-are-we/emmaus-around-the-world/the-americas/brazil/recife.html" target="_blank" class="inline-flex items-center mt-3">EMMAUS
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10 lg:items-start">
          <div class="flex-grow">
            <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">Missione di Poxoréu (Mato Grosso)</h2>
            <p class="mb-0 text-base leading-relaxed">
                Del salesiano Padre Pedro Melesi e della sorella suor Angela, recentemente scomparsa, in particolare l'"Hospital e Maternidade São João Batista", aperto a tutti, soprattutto ai più poveri e agli 'indios', la "Casa Lar Laura Vicuña" per l'accoglienza di bambini abbandonati e senza famiglia e il progetto di adozione a distanza
            </p>
            <a href="https://www.hmsjbpoxoreu.com.br" target="_blank" class="inline-flex items-center mt-3">HMSJB
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10 lg:items-start">
            <div class="flex-grow">
              <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">"Pastoral do menor" di Alagoinhas (Bahia)</h2>
              <p class="mb-0 text-base leading-relaxed">
                Una cittadina all'interno dello stato della Bahia, dove opera Antonio Nozza, bergamasco doc, in Brasile da più di 30 anni, attualmente responsabile di una casa-famiglia che accoglie bambine e bambini in stato di abbandono o di grave disagio familiare e sociale
              </p>
              <a href="https://www.pamadealagoinhas.org.br" target="_blank" class="inline-flex items-center">Pastoral do Menor de Alagoinhas
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
        </div>

      </div>

      <div class="flex flex-col flex-wrap mt-10 -mb-10 text-center lg:py-6 lg:pl-12 lg:text-left">

        <h3 class="mb-8">Progetti seguiti in passato</h3>

        <div class="flex flex-col items-center mb-10 lg:items-start">
            <div class="flex-grow">
                <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">Associazione "A força da partilha abraça a causa indigena" di Recife (Pernambuco)</h2>
                <p class="mb-0 text-base leading-relaxed">
                    Nata nel 2006 su iniziativa di Carlo Sarti e in stretto contatto con la nostra Associazione, per sostenere alcune iniziative di salvaguardia e di sviluppo di due povere tribù di "indios" del Pernambuco, i Fulni-ô e gli Xucurù.
                </p>
            </div>
        </div>
  
        <div class="flex flex-col items-center mb-10 lg:items-start">
            <div class="flex-grow">
                <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">"Fondazione Franco Gilberti" (Salvador de Bahia)</h2>
                <p class="mb-0 text-base leading-relaxed">
                    Presente con il Centro di accoglienza dei "meninos de rua" in città e la Fazenda "A partilha" all’interno della Bahia.
                </p>
                <a href="https://www.fundacaofrancogilberti.org" target="_blank" class="inline-flex items-center mt-3">Fundação Franco Gilberti
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
                </a>
            </div>
        </div>
      </div>

    </div>
</section>