<header class="major" id="kenya">
    <h2>Kenya</h2>
</header>

<section class="text-gray-600 body-font">

    <div class="container flex flex-wrap px-5 pt-12 pb-6 mx-auto">

        <div class="w-full mb-10 overflow-hidden rounded-lg lg:w-1/2 lg:mb-0">
         <img alt="feature" class="object-cover object-center w-full h-full" src="img/kenya1.jpg">
        </div>

        <div class="flex flex-col flex-wrap -mb-10 text-center lg:py-6 lg:w-1/2 lg:pl-12 lg:text-left">
            <div class="flex flex-col items-center mb-10 lg:items-start">
                <div class="flex-grow">
                    <h1 class="mb-3 text-xl font-medium text-gray-900 title-font">Progetto Sololo</h1>
                    <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">Nord del Kenya, sul confine etiope</h2>
                    <p class="text-base leading-relaxed">
                        Il Progetto si prefigge di migliorare la condizione di vita dei minori orfani e/o svantaggiati (vulnerables) di Sololo, della tribù Borana, in particolare di quelli con genitori deceduti per HIV/AIDS.
                    </p>
                    <p class="text-base leading-relaxed">
                        Vuole garantire il soddisfacimento dei bisogni fondamentali (nutrimento, cure mediche, educazione primaria) dei minori orfani e svantaggiati di Sololo, mantenendoli all'interno della "famiglia nativa" o, in mancanza, all'interno della "famiglia allargata" dei parenti. Prevede il costante monitoraggio della crescita fisica e psichica del bambino e fornisce, in caso di necessità, accoglienza (inizialmente prevista per non oltre 20 bambini) in una "famiglia artificiale" all'interno dell'Obbijtu Children Home, un villaggio aperto ed integrato nella comunità e cultura locale.
                    </p>
                    <a href="https://www.sololo.eu" target="_blank" class="inline-flex items-center mt-3">Sololo
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
      
    </div>

    <div class="container flex flex-wrap px-5 mx-auto">
        <div class="flex flex-col flex-wrap -mb-10 text-center lg:py-6 lg:pl-12 lg:text-left">
            <div class="flex flex-col items-center mb-10 lg:items-start">
                <div class="flex-grow">
                    <p class="text-base leading-relaxed">
                        Obiettivo primario è quello di occuparsi della cura dei bambini sul territorio al fine di mantenerli il più possibile all'interno del proprio contesto sociale e naturale.
                    </p>
                    <p class="text-base leading-relaxed">
                        <ol class="text-base leading-relaxed">
                            Pertanto il "Progetto Sololo" si articola su due i livelli di intervento:
                            <li>
                                Cura e assistenza di un numero quanto più elevato possibile di bambini orfani e/o vulnerabili di età compresa tra 0 e 12 anni, mantenendoli all'interno delle loro famiglie, o delle famiglie allargate o comunque affidatarie (ad oggi sono circa 300 bambini in 110 famiglie).
                            </li>
                            <li>
                                Realizzazione e gestione di un "villaggio-quartiere" (Obbijtu Children Home), del tutto simile agli altri diciannove che costituiscono l'attuale città di Sololo, per l'accoglienza di un limitato numero di bambini per i quali l'assistenza domiciliare si sia dimostrata impossibile SOLO IN POCHI CASI ESTREMI, nei quali risulta impossibile lo sviluppo del bambino nell'ambito famigliare, sarà offerta l'accoglienza – residenziale o solo diurna - all'interno del villaggio Obbijtu Children Home ove è prevista comunque una famiglia, seppur artificiale.
                            </li>
                        </ol>    
                    </p>
                    <p class="text-base leading-relaxed">
                        Il Villaggio, come da tradizione Borana, prevede il padre del villaggio e due case-famiglia per l'accoglienza. La casa-famiglia è gestita da una madre Borana alla quale vengono affidati fino a dieci bambini da accudire.
                    </p>
                    <p class="text-base leading-relaxed">
                        <ul class="text-base leading-relaxed">
                            Il Villaggio-Quartiere Obbijtu Children Home, supporta le seguenti funzioni:
                            <li>
                                Centro risorse per i problemi dei bambini nell'area di Sololo.
                            </li>
                            <li>
                                Ganglio gestionale del progetto.
                            </li>
                            <li>
                                Ospitalità diurna per bambini inseriti nel progetto.
                            </li>
                            <li>
                                Ospitalità per bambini in assoluto stato di abbandono morale e materiale, di cui non sia possibile l'inserimento in famiglia tradizionale.
                            </li>
                        </ul>
                    </p>
                    <p class="text-base leading-relaxed">
                        Il Villaggio Quartiere,è stato realizzato in modo da garantire continuità ed aderenza agli usi e costumi dei Borana ed è stato costruito in modo sia di migliorare la resistenza-durata delle opere che offrire migliori condizioni igieniche di vita rispetto alle costruzioni tradizionali,. E' condizione essenziale del "Progetto Sololo" che le attività di costruzione, l'arredamento ed ogni attività gestionale debbano prioritariamente favorire la popolazione residente, sia come attività d'impresa che di lavoro individuale.
                    </p>
                </div>
            </div>
        </div> 
    </div>
</section>